:root {
    --color-titulo: #0e225ae3;
}

* {
    margin: 1px;
    padding: 1px;
    
}

body {
    background: linear-gradient(125deg, #192486, #3375f1);
}

html, body {
    min-height: 100vh;
}

.header {
    margin: 10px auto;
    padding: 10px;
    background-color: #193364;
    border-radius: 10px;
    width: fit-content;
    
}

.titulo {
    color: var(--color-titulo);
    text-align: center;
    font-size: 40px;
}

.subtitulo {
    color:#cec9c9
}

.descripcion {
    color: #cec9c9;
    text-align: center;
    font-size: 15px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding: 30px;
    margin: 20px;
    gap: 0px;
}

.card div {
    background-color: #031942;
    border: solid 2px #192486;
    border-radius: 10px;
    padding: 45px;
    text-align: center;
}

.boton {
    background-color: #192486;
    border: solid 2px #031942;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}


.ejercicio-panel {
    background-color: #031942;
    border-radius: 10px;
    padding: 40px;
    margin: 30px auto;
    width: fit-content;
    text-align: center;
    color: white;
    font-size: 48px;
}

.ejercicio-contraseña {
    background-color: #031942;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
    text-align: center;
    color: white;
    font-size: 25px;
}

.ejercicio-contraseña input {
    padding: 10px;
    border-radius: 5px;
    border: solid 2px #192486;
    margin-top: 10px;
}

.ejercicio-contraseña #mensaje {
    margin-top: 10px;
    color: #cec9c9;
    font-size: 18px;
}